---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include navbar.html %}
    <section class="home img-bg" style="background: url(images/bg/bgimage.jpeg) 0 0; background-size: cover;">
        <div class="overlay opacity5"></div>
        {% include name-block.html %}
        {% include menu-block.html %}
        {% include content-profile.html %}
        {% include content-portfolio.html %}
            <div class="content-blocks blog">
                <section class="content">
                    <div class="block-content">
                        <h3 class="block-title">.fragments</h3>
                        <div class="row">
                            <div id="test" class="col-md-10 mx-auto">
                                <div class="post">
                                    <div class="post-title">
                                        <a class="open-post" href="post-single.html"><h2>Typography for web</h2></a>
                                        <p class="post-info">
                                            <span class="post-category">Food</span>
                                            <span class="slash"></span>
                                            <span class="post-date">Dec 08, 2017</span>
                                        </p>
                                    </div>
                                  <div class="post-body">
                                       <p>lorem ipsum lalalalalalalla</p>
                                    </div>
                                </div>
                               <div class="post">
                                    <div class="post-title">
                                        <a class="open-post" href="post-single.html"><h2>Llalalalaal</h2></a>
                                        <p class="post-info">
                                            <span class="post-category">Food</span>
                                            <span class="slash"></span>
                                            <span class="post-date">Jan 28, 2017</span>
                                        </p>
                                    </div>
                                </div> 
                               <div class="post blur">
                                    <div class="post-title">
                                        <a class="open-post" href="post-single.html"><h2>Llalalalaal</h2></a>
                                        <p class="post-info">
                                            <span class="post-category">Food</span>
                                            <span class="slash"></span>
                                            <span class="post-date">Jan 28, 2017</span>
                                        </p>
                                    </div>
                                </div> 
                               <div class="post">
                                    <div class="post-title">
                                        <a class="open-post" href="post-single.html"><h2>Llalalalaal</h2></a>
                                        <p class="post-info">
                                            <span class="post-category">Food</span>
                                            <span class="slash"></span>
                                            <span class="post-date">Jan 28, 2017</span>
                                        </p>
                                    </div>
                                </div>
                              <br><br>
                               <div class="post">
                                  <div class="post-title">
                                    <a class="open-post" href="post-single.html">
                                      <h2>Load More..</h2></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="content-blocks contact">
                <section class="content">
                    <div class="block-content">
                        <h3 class="block-title">Let's get in touch!</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <form id="contactForm" data-toggle="validator" class="contact-form shake">
                                    <div class="form-group">
                                        <input id="name" type="text" class="form-control" name="Name" autocomplete="off" required data-error="Please enter your name" placeholder="* Your Name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input id="email" type="email" class="form-control" name="email" autocomplete="off" required data-error="Please enter your email" placeholder="* Your Email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <textarea id="message" class="form-control textarea" rows="10" name="Message" required data-error="Please enter your message subject" placeholder="* Your Message"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <button id="submit" type="submit" class="btn selected">Send Message</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    </div>
                                </form>
                            </div>
                                </div>
                            </div>
            <div class="content-blocks pop">
                <div id="close-pop" class="close-pop">Close <!--<i class="ion-ios-close-empty">--><i class="fa fa-home" aria-hidden="true"></i></div>
    <script src="js/plugins.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmsb2nGLuIl04bt7CWJozRMhThvGa3y1w"></script>
    <script src="js/main.js"></script>
</body>
</html>
