---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include navbar.html %}
    <section class="home img-bg" style="background: url(images/bg/bgimage.jpeg) 0 0; background-size: cover;">
        <div class="overlay opacity5"></div>
        {% include name-block.html %}
        {% include menu-block.html %}
        {% include content-profile.html %}
        {% include content-photography.html %}
        {% include content-fragments.html %}
        {% include content-contact.html %}
        <div id="close-pop" class="close-pop">Close<i class="fa fa-home" aria-hidden="true"></i></div>
    <script src="js/plugins.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>