 <div class="content-blocks portfolio">
                    <section class="content">
                    <div class="block-content">
                        <h3 class="block-title">.Visual Journal</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-container row isotope" id="portfolio-container">
                                    <!-- WORK 1 START -->
                                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                                        <a class="open-project">
                                            <div class="portfolio-column">
                                                <div class="portfolio-hover ">
                                                    <div class="portfolio-content">
                                                        <h2>ONE</h2>
                                                    </div>
                                                    <div class="portfolio-overlay"></div>
                                                </div>
                                                <img src="images/portfolio/grid/001.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <!-- WORK 1 END -->
                                    <!-- WORK 2 START -->
                                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                                        <a class="open-project">
                                            <div class="portfolio-column">
                                                <div class="portfolio-hover ">
                                                    <div class="portfolio-content">
                                                        <h2>TWO</h2>
                                                    </div>
                                                    <div class="portfolio-overlay"></div>
                                                </div>
                                                <img src="images/portfolio/grid/002.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <!-- WORK 2 END -->
                                    <!-- WORK 3 START -->
                                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                                        <a class="open-project">
                                            <div class="portfolio-column">
                                                <div class="portfolio-hover ">
                                                    <div class="portfolio-content">
                                                        <h2>THREE</h2>
                                                    </div>
                                                    <div class="portfolio-overlay"></div>
                                                </div>
                                                <img src="images/portfolio/grid/003.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <!-- WORK 3 END -->
                                    <!-- WORK 4 START -->
                                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                                        <a class="open-project">
                                            <div class="portfolio-column">
                                                <div class="portfolio-hover ">
                                                    <div class="portfolio-content">
                                                        <h2>FOUR</h2>
                                                    </div>
                                                    <div class="portfolio-overlay"></div>
                                                </div>
                                                <img src="images/portfolio/grid/004.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <!-- WORK 4 END -->
                                    <!-- WORK 5 START -->
                                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
                                        <a class="open-project">
                                            <div class="portfolio-column">
                                                <div class="portfolio-hover ">
                                                    <div class="portfolio-content">
                                                        <h2>FIVE</h2>
                                                    </div>
                                                    <div class="portfolio-overlay"></div>
                                                </div>
                                                <img src="images/portfolio/grid/005.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <!-- WORK 5 END -->
                                    <!-- WORK 6 START -->
                                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
                                        <a class="open-project">
                                            <div class="portfolio-column">
                                                <div class="portfolio-hover ">
                                                    <div class="portfolio-content">
                                                        <h2>SIX</h2>
                                                    </div>
                                                    <div class="portfolio-overlay"></div>
                                                </div>
                                                <img src="images/portfolio/grid/006.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <!-- WORK 6 END -->
                                    <!-- WORK 7 START -->
                                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                                        <a class="open-project">
                                            <div class="portfolio-column">
                                                <div class="portfolio-hover ">
                                                    <div class="portfolio-content">
                                                        <h2>SEVEN</h2>
                                                    </div>
                                                    <div class="portfolio-overlay"></div>
                                                </div>
                                                <img src="images/portfolio/grid/007.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <!-- WORK 7 END -->
                                    <!-- WORK 8 START -->
                                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                                        <a class="open-project">
                                            <div class="portfolio-column">
                                                <div class="portfolio-hover ">
                                                    <div class="portfolio-content">
                                                        <h2>EIGHT</h2>
                                                    </div>
                                                    <div class="portfolio-overlay"></div>
                                                </div>
                                                <img src="images/portfolio/grid/008.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <!-- WORK 8 END -->
                                    <!-- WORK 9 START -->
                                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
                                        <a class="open-project">
                                            <div class="portfolio-column">
                                                <div class="portfolio-hover ">
                                                    <div class="portfolio-content">
                                                        <h2>NINE</h2>
                                                    </div>
                                                    <div class="portfolio-overlay"></div>
                                                </div>
                                                <img src="images/portfolio/grid/009.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <!-- WORK 9 END -->
                                  <!-- WORK 10 START -->
                                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
                                        <a class="open-project">
                                            <div class="portfolio-column">
                                                <div class="portfolio-hover ">
                                                    <div class="portfolio-content">
                                                        <h2>TEN</h2>
                                                    </div>
                                                    <div class="portfolio-overlay"></div>
                                                </div>
                                                <img src="images/portfolio/grid/010.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <!-- WORK 10 END -->
                                  <!-- WORK 11 START -->
                                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
                                        <a class="open-project">
                                            <div class="portfolio-column">
                                                <div class="portfolio-hover ">
                                                    <div class="portfolio-content">
                                                        <h2>ELEVEN</h2>
                                                    </div>
                                                    <div class="portfolio-overlay"></div>
                                                </div>
                                                <img src="images/portfolio/grid/011.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <!-- WORK 11 END -->
                                  <!-- WORK 12 START -->
                                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
                                        <a class="open-project">
                                            <div class="portfolio-column">
                                                <div class="portfolio-hover ">
                                                    <div class="portfolio-content">
                                                        <h2>TWELVE</h2>
                                                    </div>
                                                    <div class="portfolio-overlay"></div>
                                                </div>
                                                <img src="images/portfolio/grid/012.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <!-- WORK 12 END -->
                                </div>
                            </div>
                        </div>
                        </div>
                </section>
            </div>
  